.content-view-head-card {
    max-width: 85%;
}

.content-view-head-img {
    min-width: 242.205px
}

.content-view-head-title, .content-view-head-author {
    padding-left: 0;
}

.modal-card{
    background: white;
}