<!-- <div class="filter-container container-fluid">
	<input ng-model="search.$">
</div> -->


	<div class="card-deck">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" ng-class="{active:isSelected(0)}">
				<a href="" ng-click="select(0)" aria-controls="all menu" role="tab">All</a>
			</li>
			<li role="presentation" ng-class="{active:isSelected(1)}">
				<a href="" ng-click="select(1)" aria-controls="branches" role="tab">Branches</a>
			</li>
			<li role="presentation" ng-class="{active:isSelected(2)}">
				<a href="" ng-click="select(2)" aria-controls="seeds" role="tab">Seeds</a>
			</li>
		</ul>		
			<div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="content in contents | filter:filterText">
			<h3 class="card-header"><span class="header-title">{{content.title}}<span></h3>
			<a ng-click="getContent(content.id)">
				<div class="card-block">
					<div class="card-image img-responsive img-thumbnail" style="background-image: url('{{content.image}}')">
					</div>
					<aside class="card-description">
						<p>{{content.description}}</p>
					</aside>
				</div>
			</a>
			<div class="card-footer"></div>
		</div>
	</div>