<div class="container">
        <div class="row">
            <div class="col-xs-4 profile-picture-container">
                <img ng-src="{{profile.image}}" class="profile-picture img-responsive img-circle">
                <form>
                    <div class="form-group profile-picture-edit">	
                        <input ng-model="editedImage.image" class="form-control" type="text" placeholder="{{profile.image}}">
                    <button class="mybutton" ng-click="editProfilePicture()">Edit Profile Picture</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-8">
                <form>
                    <div class="form-group">
                        <h2>{{profile.displayName}}</h2>
                        <input ng-model="editedDisplayName.displayName" maxlength="50" type="text" class="form-control text-center">
                        <button class="mybutton" ng-click="editDisplayName()">Edit Display Name</button>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <input ng-model="editedEmail.email" class="form-control" type="email" placeholder="{{profile.email}}">
                        <button class="mybutton" ng-click="editEmail()">Edit Email</button>
                    </div>
    
                    <div>
                        <textarea class="form-control profile-bio" maxlength="500" ng-model="editedBio.bio" type="text" rows="10" placeholder="{{profile.bio}}"></textarea>
                        <button class="mybutton" ng-click="editBio()">Edit Bio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <hr>
    
    <div class="filter-container container-fluid">
        <input class="filter" type="filter" placeholder="Filter" ng-model="searchText">
    </div>
    
    <div class="content-card-container container-fluid">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{active:isSelected(0)}">
                <a href="" ng-click="select(0)" aria-controls="all menu" role="tab">All</a>
            </li>
            <li role="presentation" ng-class="{active:isSelected(1)}">
                <a href="" ng-click="select(1)" aria-controls="branches" role="tab">Branches</a>
            </li>
            <li role="presentation" ng-class="{active:isSelected(2)}">
                <a href="" ng-click="select(2)" aria-controls="seeds" role="tab">Seeds</a>
            </li>
        </ul>	
        <div class="content-repeat-card col-xs-12 col-md-6 col-lg-4"  ng-repeat="content in usersContents | filter:filterText | filter:searchText">
            <h3 class="content-card-header col-xs-12">{{content.title}}</h3>
            <a ng-click="getContent(content.id)">
                <div class="content-card-img col-xs-5 col-md-6" ng-style="{'background-image':'url({{content.image}})'}">
                    <!-- <img class="img-responsive" ng-src="{{content.image}}"> -->
                </div>
                <div class="content-card-info col-xs-7 col-md-6">
                    <h4>Author: (AuthorPH)</h4>
                    <p>{{branch.description}}</p>
                </div>
            </a>
        </div>
    </div>
    
    
    
    <!-- <div ng-repeat="content in usersContents">
        <div class="card">
            <div class="card-image">
                <a ng-click="getContent(content.id)"><img ng-src="{{content.image}}"></a>
            </div>
            <div class="card-content">Title: {{content.title}}<br>Description: {{content}}</div>
        </div>
    </div> -->